<h1>welcome to simba home !</h1>
<p>"Simba is a  king of the jungle, but he's always got time to be a lionhearted little cub." 🦁💛 </p>
<img src="C:\Users\Owner\Downloads.jpg" alt="simbasliping" />
<table class=" table table-bordered table-striped">
	<tr>
		<th>
		    Name : simba 
		</th>
		<th>
			mishmish
		</th>
	</tr>
</table>

